
<!DOCTYPE html>

<html lang="en">
	<head>
        	<meta charset="utf-8"/>
		{% load static %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'blog/style.css' %}" type="text/css"/>
        	<title>archive</title>
	</head>

	<body>
		{% include "blog/nav.html" %}
		<main>
			<h1> Here are all my past posts! </h1>
			<ul>
				{% include "blog/postShort.html" %}
			</ul>
		</main>
    	</body>
</html>

